body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

section {
  margin-left: 160px;
  font-size: 40px;
  padding: 0px 20px;
}

/*sidenav*/
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

a:hover {
  color: #f1f1f1;
}



/*table*/
table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #111;
  color: #ffffff;
  text-align: left;
}

table th, table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/*form*/
.sectionform {
  background: url(img/beer_background.jpg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
}

.sectionform #searchfrom {
    height: 450px;
}

.sectionform #insertfrom {
    height: 800px;
}

.title {
  width: 45%;
  background: rgba(20, 20, 20, .5);
  /*padding: 10px 0;*/
  border-right: 5px solid rgba(30, 30, 30, .8);
}

.title h2 {
  padding-top: 100px;
  font-weight: 300;
}

.title p {
  font-size: 18px;
}

.form {
  width: 70%;
  padding: 30px 0;
  background: rgba(20, 40, 40, .8);
  transition: .2s;
}

.form h2 {
  font-weight: 300;
}

input {
  margin: 15px 0;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  outline: none;
  font-size: 18px;
  color: white;
  background: rgba(20, 40, 40, .8);
}

li {
  list-style: none;
  padding: 0;
}

.btn {
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s
}