<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="sidenav">
     <a href="{{ url_for('index') }}">Home</a>
   </div>
   <section>
       <div class="main">
          {% if len != 0: %}
             <table class="table">
                <thead>
                   <td>ID</td>
                   <td>NAME</td>
                   <td>STYLE</td>
                   <td>IBU</td>
                   <td>BREWERY_ID</td>
                   <td>OUNCES</td>
                   <td>ABV</td>
                </thead>
                {% for i in data %}
                   <tr>
                           <td name="id" id="id">{{i["ID"]}}</td>
                          <td name="name" id="name">{{i["NAME"]}}</td>
                          <td name="style" id="style">{{i["STYLE"]}}</td>
                          <td name="ibu" id="ibu">{{i["IBU"]}}</td>
                          <td name="brewery_id" id="brewery_id">{{i["BREWERY_ID"]}}</td>
                          <td name="ounces" id="ounces">{{i["OUNCES"]}}</td>
                          <td name="abv" id="abv">{{i["ABV"]}}</td>
                   </tr>
                {% endfor %}
             </table>
          <a href = "/">Go to the top</a>

          {%else:%}
             <h3>No data matching your search.<br>Drink a beer and look for something else.</h3>
            {% endif %}
        </div>
    </section>

</body>
</html>