{% extends "layout.html" %}
{% block content %}
   <section class="sectionform"  id="searchfrom">
       <div class="title">
           <h2>Search a beer</h2>
       </div>
        <form action="{{ url_for('select', number=0) }}" method="post" class="form">
           <ul>
             <li>
                 <label for="name"></label>
                 <input type="text" name="name" id="name" placeholder="Name"/>
             </li>

             <li>
                 <label for="style"></label>
                 <input type="text" name="style" id="style" placeholder="Style"/>
             </li>
             <li>
                 <input type="submit" name="join" value="Search beer"/>
             </li>
           </ul>
     </form>
   </section>
    <footer>
        <small>&copy; Copyright 2022, Tamas Deak</small>
    </footer>
{% endblock content %}